[aws]
aws_region_name = TODO

[global]
cluster_template = default
update_check = true
sanity_check = true

[cluster default]
# Select your AWS key-pair to be able to ssh into the node:
key_name = TODO
scheduler = slurm
# Select a GPU instance type:
master_instance_type = g4dn.4xlarge
# Select a GPU instance type:
compute_instance_type = g4dn.12xlarge
cluster_type = ondemand
placement_group = DYNAMIC
placement = compute
max_queue_size = 10
s3_read_resource = arn:aws:s3:::nvindex-datasets-us-west2*
vpc_settings = public
# Select the AMI id from Marketplace for the intended region:
custom_ami = TODO
compute_root_volume_size = 40
master_root_volume_size = 40
base_os = ubuntu1804
dcv_settings = custom-dcv
# Enables slurm job resizing:
post_install = https://nvindex-util.s3.amazonaws.com/scripts/slurm_enable_job_expansion.sh

# Optional: if you need a shared drive, uncomment this and the myebs section.
# ebs_settings = myebs

[vpc public]
vpc_id = TODO
master_subnet_id = TODO
use_public_ips = true

[aliases]
ssh = ssh {CFN_USER}@{MASTER_IP} {ARGS}

# Optional: enable if you need
#[ebs myebs]
#shared_dir = /shared
#volume_type = gp2
#volume_size = 50

[dcv custom-dcv]
enable = master
port = 8443
access_from = 0.0.0.0/0
